:root {
  --text-color: #000000;
}

*,
*::after,
*::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.noscroll {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
