/* header start */
.header {
  --header-height: 80px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 0 16px;
  border-bottom: 5px double #000000;
}

.header__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex-wrap: nowrap;
}

.header__link {
  display: block;
  padding: 8px;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.header__logo {
  display: flex;
  justify-content: center;
}

.header__cart {
  justify-self: end;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

.header__link--cart {
  display: none;
}

.header__burger {
  display: none;
  justify-self: end;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .header {
    grid-template-columns: auto 1fr auto;
  }

  .header__logo {
    justify-self: end;
  }

  .header__cart {
    display: none;
  }

  .header__link--cart {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
    order: 2;
  }

  .header__nav {
    display: none;
  }

  .header__nav.show {
    display: block;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background: #ffffff;
    display: block;
    position: absolute;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 16px 0;
  }

  .header__list {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .header__link {
    padding: 16px;
  }

  .header__logo {
    order: 1;
    justify-self: start;
  }

  .header__cart {
    display: none;
  }

  .header__link--cart {
    display: block;
    width: 100%;
    text-align: center;
  }
}
/* header end */
